body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
 }

header {
    display: block;
    width: 100%;
    background-color: rgb(38,96,80);
    border-bottom: 10px solid rgb(232,206,191);   
    
}

ul {
    text-align: right;
    list-style-type: none;
 }

li {
    display: inline;
    background-color: rgb(38,96,80);
    text-align: right;
    list-style-type: none;
    font-size: 15px; 
    padding-inline-start: 0.5%;
     
}

a {
    text-decoration: none;
    color: #ffffff;
}
.contact {
    border-style: solid;
    border-color: rgb(232, 169, 133);

    display: block;
    background-color: rgb(232,206,191);
    margin-top: 0;

}

button {
    background-color: brown;

}

.copyright {
    display: block;
    background-color: rgb(38,96,80);
    color: #ffffff;
    margin-top: 0;
    border-bottom: 10px solid black;
}

p {
    margin-top: 0;
    
}

.container {
    border: 2px solid rgb(232, 169, 133);
    border-radius: 5%;
    margin: 0 auto;
    padding: 15px;
    width: 15%;
    
}

